.compare-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text1 text2"
}
.compare-container > .text1 {
  grid-area: text1;
}
.compare-container > .text2 {
  grid-area: text2;
}

span.match-1 {
  background: lightblue;
}
span.match-2 {
  background: lightgray;
}
span.match-3 {
  background: lightyellow;
}
span.match-4 {
  background: lightcyan;
}

footer {
  display: flex;
  margin-top: 3em;
  background: #eee;
}
footer p {
  padding: 0.5em;
}
